*{
    box-sizing:border-box;
   
}
/* body{
    padding:20px;
} */
header{
    display:flex;
    justify-content: space-between;
    position:fixed;
    min-height:75px;
    background-color: #eee;
    padding:0px 20px;
    top:0;
    width:100vw;
    left:0;
    z-index:2;
}
#header-img{
    width:274px;
    height:30px;
    margin-top:20px;
}


.nav-list{
    display:flex;
    list-style: none;
    
    
}
.nav-link{
    margin:25px;
    
}
 .title,#form{
   text-align: center;
} 
.title{
    margin-top:100px;
}
input{
    width:275px;
    padding: 5px 10px;
    margin-bottom: 20px;
    background-color:white;
}
#submit{
    padding:10px;
    width:150px;
    background-color: yellow;
    border-style: none;

}
a{
    text-decoration: none;
    font-weight:bold;
    color:black;
}
#features{
    width:55vw;
    margin:auto;
}
/* #how-it-works{
    margin:auto;
} */
.video{
   width:600px;
   height:350px;
   margin:auto;
   position:relative;
   z-index:1;
}
