/* *{
    box-sizing:border-box;
   
} */
body{
    background-color: #eee;
}
header{
    display:flex;
    justify-content: space-between;
    position:fixed;
    min-height:75px;
    background-color: #eee;
    padding:0px 25px;
    top:0;
    width:100vw;
    left:0;
    z-index:2;
}
#header-img{
    width:274px;
    height:30px;
    margin-top:20px;
}


.nav-list{
    display:flex;
    list-style: none;
    margin-right:40px;
    margin-top:25px;

    
}
.nav-link{
    margin:15px;
    
    
}
 .title,#form{
   text-align: center;
} 
.title{
    margin-top:100px;
}
input{
    width:250px;
    padding: 5px 10px;
    margin-bottom: 20px;
    background-color:white;
}
#submit{
    padding:10px;
    width:150px;
    background-color: yellow;
    border-style: none;
    font-weight:bold;

}
a{
    text-decoration: none;
    font-weight:bold;
    color:black;
}
#features{
    width:55vw;
    margin:auto;
}
/* #how-it-works{
    margin:auto;
} */

#features,#how-it-works,footer{
    margin-top: 60px;
}
#how-it-works{
    margin-bottom: 60px;
}
.video{
   width:600px;
   height:350px;
   margin:auto;
   position:relative;
   z-index:1;
}
#pricing{
    display:flex;
    margin:auto;
    gap:1rem;
    width:fit-content;
    
}
.price{
    width:295px;
    height:310px;
    border:0.5px solid black;
    text-align:center;
    line-height: 25px;
    background: linear-gradient(grey 0%,#fff 80%);
    
}
.price-list-child{
    list-style:none;
    padding-right:30px;
 
    
}
.list{
    margin:auto;
   
}
.footerlist{
    display:flex;
    list-style: none;
    justify-content: space-around;
    

}
.footer-cont{
   margin-left:50px;
   
   
}
footer{
    display:flex;
    width:100vw;
  
    flex-direction: row-reverse;
    padding:0px 10px;
    background-color: grey;
    left:0;
    bottom: 0;
  
}

@media screen and (max-width:800px){
    
    #pricing{
     display:block;
     margin-bottom:1rem;
    }
    .nav-list{
        margin-right:30px;
    }
    .price{
        margin-bottom: 15px;;
    }
}


